/* Back to Home Button */
a#back-to-home {
    float: right;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
    font-weight: 300;
    color: inherit;
    text-align: center;
  }
  a#back-to-home:hover {
    background-color: rgb(155, 154, 154);
  }