body {
    color: blue;
    font-family: Courier New;
  }

  
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #ff0000;
  }
  
  .style2 {
    background-color: #e57410;
  }
  
  .style3 {
    background-color: #ffd900;
  }
  
  .style4 {
    background-color: #1fb327;
  }
  
  .style5 {
    background-color: #1b53ee;
  }
  
  .style6 {
    background-color: #740eb9;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }